/* You can add global styles to this file, and also import other style files */


:root {
  --font-caption: 12px;
  --font-normal: 14px;
  --font-bigger: 16px;
  --font-headline: 20px;
  --font-headline-bigger: 24px;
  --font-headline-large: 34px;

  --paragraph-width: 670px;
}

body{
  margin: 0;
  background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  max-width:100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: var(--font-headline-large);
  margin-bottom: 35px;
}

h2 {
  font-size: var(--font-headline-bigger);
  margin-bottom: 28px;
}

h3 {
  font-size: var(--font-headline);
  margin-bottom: 22px;
}

h4 {
  font-size: var(--font-bigger);
  margin-bottom: 18px;
}

h5 {
  font-size: var(--font-normal);
  margin-bottom: 12px;
}

h6 {
  font-size: var(--font-caption);
  margin-bottom: 8px;
}


.secondary-text {
  color: var(--content-very-dark);
}

.caption {
  font-size: var(--font-caption);
}
.font-normal {
  font-size: var(--font-normal);
}
.bigger {
  font-size: var(--font-bigger);
}
.headline {
  font-size: var(--font-headline);
}
.headline-bigger {
  font-size: var(--font-headline-bigger);
}
.headline-large {
  font-size: var(--font-headline-large);
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.very-light {
  font-weight: 100;
}

.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
.fat {
  font-weight: 900;
}
.no-bold {
  font-weight: 400;
}

.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
