:host{

}

.question {
  color: whitesmoke;
  padding: 250px;
  text-align: center;
  font-size: 75px;
  cursor: default;
  //Make text not selectable
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
