:host {
  position:sticky;
  top:0;
  overflow: hidden;
  background-color: rgba(3, 46, 102, 0.71);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  font-family: Oswald;
  span {
    color: white;
    margin: auto;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: default;

    &:hover {
      color: rgb(130, 133, 125);
    }
  }
  :focus {
    outline: none;
  }
}
